langgraph
langchain
langchain-anthropic
langchain-community
streamlit
anthropic
pydantic
python-dotenv
pillow
pandas
numpy
requests
boto3 
scikit-learn
qdrant-client
langchain-qdrant
sentence-transformers
pypdf
langchain-aws